*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

body.overflow {
  overflow: hidden;
}

.hidden {
  display: none;
}

button {
  cursor: pointer;
  background: 0;
  border: 0;
}

button:focus, button:active {
  outline: 0;
}

h1, h2, h3, h4, h5, h6, img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

h3 {
  font-weight: 300;
  font-size: 2.5rem;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.scroll-handle {
  position: absolute;
}

.link-button {
  padding: 10px 35px;
  background-color: #4ca9ff;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  border-radius: 100px;
  font-size: 16px;
  box-shadow: 0px 8px 15px 5px rgba(75, 169, 255, 0.2);
  letter-spacing: 1px;
  transition: background ease 0.2s;
}
.link-button:hover {
  text-decoration: none;
  background-color: #3691e6;
}

.page-header {
  height: 100vh;
  background-image: url(../img/DIGITAL2.png);
  background-size: 100% 100%;
  padding: 25px 25px 0;
  color: #ffffff;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}
.page-header h2 {
  font-size: 46px;
  font-weight: 300;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  padding: 0 15px;
  text-align: center;
  transform: translate(-50%, -50%);
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.65);
}
.page-header h2 span {
  color: #4ba9ff;
}
.page-header .page-logo {
  margin: 8px 0 0 0;
}
.page-header .icon-arrdown {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
  opacity: 0.6;
  transition: opacity 0.2s linear;
  font-size: 1.7rem;
}
.page-header .icon-arrdown:hover {
  opacity: 1;
}
.page-header .open-menu-btn {
  width: 48px;
  height: 48px;
  background-color: #3867d6;
  border-radius: 50%;
  position: absolute;
  z-index: 1000;
  top: 25px;
  right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: filter ease 0.1s;
  box-shadow: 3px 3px 8px 0 rgba(0, 0, 0, 0.15);
}
.page-header .open-menu-btn .icon-menu {
  display: block;
  position: relative;
  width: 18px;
  height: 14px;
  border-top: solid 2px #ffffff;
}
.page-header .open-menu-btn .icon-menu::before, .page-header .open-menu-btn .icon-menu::after {
  content: "";
  position: absolute;
  left: 0;
  height: 2px;
  background-color: #ffffff;
}
.page-header .open-menu-btn .icon-menu::before {
  top: 4px;
  width: 12px;
}
.page-header .open-menu-btn .icon-menu::after {
  top: 10px;
  width: 18px;
}
.page-header .open-menu-btn.active {
  filter: brightness(1.3);
}
.page-header .open-menu-btn:hover {
  filter: brightness(1.2);
}
.page-header .open-menu-btn.active .icon-menu {
  transform: rotate(45deg) translate(0, 6px);
  transition: transform ease 0.2s;
}
.page-header .open-menu-btn.active .icon-menu::after {
  transform: rotate(-90deg) translate(12px, 0);
  transition: transform ease 0.2s;
}
.page-header .open-menu-btn.active .icon-menu::before {
  background: 0;
}
.page-header .page-navigation {
  width: 100%;
  height: 100vh;
  background: #2a57c0;
  background: linear-gradient(75deg, #214aa8 50%, #244fb4 50%);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 998;
  padding: 25px;
  clip-path: circle(24px at calc(100% - 49px) 49px);
  transition: clip-path ease-in-out 0.9s;
}
.page-header .page-navigation .page-logo-alt {
  margin: 8px 0 0 0;
  display: block;
}
.page-header .page-navigation.active {
  position: fixed;
  clip-path: circle(1100px at calc(100% - 49px) 49px);
}
.page-header .page-navigation ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  height: 100%;
}
.page-header .page-navigation li {
  margin: 0 0 10px 0;
  min-width: 200px;
  min-height: 36px;
  line-height: 36px;
  text-align: center;
}
.page-header .page-navigation li a {
  color: #ffffff;
  width: 100%;
  height: 100%;
  display: block;
  font-size: 2rem;
  font-weight: 700;
  padding: 8px 10px;
  transition: transform ease-in-out 0.05s;
  user-select: none;
  -webkit-user-select: none;
}
.page-header .page-navigation li a:hover {
  text-decoration: none;
  transform: scale(1.15);
}

main article, main section {
  padding: 40px 20px;
  line-height: 26px;
}

.about-us h3, .our-offert h3 {
  position: relative;
  margin: 0 0 30px 0;
  width: 100%;
}
.about-us h3::before, .our-offert h3::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 4px;
  bottom: -15px;
  background-color: #391a8d;
}

.about-us .dc-art {
  margin: 15px 0;
}
.about-us .dc-art img {
  width: 100%;
  border-radius: 3px;
  border: solid 1px #d6d6d6;
}

.our-offert {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f8f8f8;
}
.our-offert .offert {
  list-style: none;
  padding: 0 30px;
}
.our-offert .offert li {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  padding: 15px 20px;
  margin: 20px 0;
  border: solid 1px #d6d6d6;
  border-radius: 5px;
}
.our-offert .offert li p {
  font-weight: bold;
  text-transform: uppercase;
  margin: 15px 0;
}
.our-offert .offert li:hover {
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
}
.our-offert a {
  color: #4ba9ff;
  text-transform: uppercase;
  font-size: 18px;
  width: 100%;
  text-align: center;
}
.our-offert h3 {
  text-align: center;
}

.mobile-app {
  background-image: url(../img/DIGITAL3.png);
  background-size: contain;
  color: #ffffff;
}
.mobile-app div h3 {
  font-size: 2.2rem;
  text-transform: capitalize;
  margin: 15px 0 25px 0;
}
.mobile-app div h3 span {
  color: #4ca9ff;
}
.mobile-app div p {
  margin: 0 0 25px 0;
}
.mobile-app figure {
  margin: 30px 0;
  display: flex;
  justify-content: space-around;
}
.mobile-app figure img {
  width: 100%;
}
.mobile-app figure img:first-child {
  margin: 0 10px 0 0;
}
.mobile-app ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}
.mobile-app ul li {
  flex-basis: 100%;
  padding: 5px;
  border-left: solid 3px #b0b2d9;
  margin: 0 0 10px;
  text-align: center;
}
.mobile-app ul li .apps-header {
  text-transform: uppercase;
  font-size: 14px;
  opacity: 0.65;
  font-weight: bold;
}
.mobile-app ul li .apps-header span {
  margin: 0 0 0 20px;
  position: relative;
}
.mobile-app ul li .apps-header span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -12.5px;
  transform: translateY(-50%);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #ffffff;
}

.news-slider .news .entry {
  margin: 0 auto;
  padding: 20px;
  font-size: 22px;
  text-align: center;
  border-radius: 5px;
  display: none;
  justify-content: center;
  flex-flow: column nowrap;
  transition: opacity ease 0.3s;
  min-height: 280px;
}
.news-slider .news .entry .entry-title {
  font-size: 2rem;
}
.news-slider .news .entry figure {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.news-slider .news .entry img {
  margin: 0 20px 0 0;
}
.news-slider .news .entry span, .news-slider .news .entry a {
  color: #3c86cc;
}
.news-slider .news .entry > p {
  font-size: 1rem;
  opacity: 0.65;
  margin: 0 0 30px 0;
}
.news-slider .news .entry.active {
  box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.15);
  display: flex;
}
.news-slider > figure {
  text-align: center;
  margin: 0 0 50px;
}
.news-slider .slider-dots {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0 0 0;
}
.news-slider .slider-dots li {
  margin: 0 15px 0 0;
  display: block;
  width: 8px;
  height: 8px;
  border: solid 2px #4169e1;
  border-radius: 50%;
}
.news-slider .slider-dots li:last-of-type {
  margin: 0;
}
.news-slider .slider-dots li.active {
  background-color: #4169e1;
}
.news-slider .slider-dots .prev-news, .news-slider .slider-dots .next-news {
  margin: 0 10px;
  padding: 0 10px;
  width: 50px;
  height: 30px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: filter ease 0.2s;
  color: #4169e1;
  font-size: 1.4rem;
}
.news-slider .slider-dots .prev-news:hover, .news-slider .slider-dots .next-news:hover {
  filter: brightness(1.6);
}

.page-footer {
  background-image: url(../img/DIGITAL2.png);
  background-size: contain;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  padding: 30px 20px 10px 20px;
  text-align: center;
}
.page-footer figcaption {
  opacity: 0.75;
  margin: 20px 0;
  line-height: 25px;
}
.page-footer .link-button {
  margin: 0 0 20px 0;
}
.page-footer div {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  padding: 20px 0 10px 0;
  font-size: 0.8rem;
  text-transform: uppercase;
  border-top: solid 2px #7a60b8;
}
.page-footer div .copyright {
  margin: 0 0 10px 0;
}
.page-footer div a {
  color: #4ca9ff;
}
.page-footer .icon-heart {
  display: inline-block;
  width: 11px;
  height: 11px;
  background-image: url(../img/like.png);
  background-size: 11px 11px;
  background-repeat: no-repeat;
  margin: 0 5px;
}

div.scroll-top {
  position: fixed;
  padding: 10px;
  bottom: 20px;
  right: 20px;
  border-radius: 5px;
  background-color: #8434a7;
  color: #ffffff;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
  opacity: 0;
  transition: opacity ease 0.5s;
  pointer-events: none;
}
div.scroll-top.active {
  opacity: 0.75;
  pointer-events: all;
}
div.scroll-top:hover.active {
  opacity: 1;
}

@media (min-width: 479px) {
  .dc-art {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .dc-art img {
    flex-basis: 49%;
    margin-bottom: 10px;
  }

  .mobile-app figure {
    justify-content: flex-end;
  }
  .mobile-app figure img {
    width: 200px;
  }

  .offert {
    width: 350px;
  }

  .news-slider div {
    margin: 0 auto;
    width: 350px;
  }
}
@media (min-width: 767px) {
  .our-offert .offert {
    width: initial;
    display: flex;
    justify-content: center;
  }
  .our-offert .offert li {
    margin-right: 20px;
  }
  .our-offert .offert li:last-of-type {
    margin-right: 0;
  }

  .page-header .open-menu-btn {
    display: none;
  }
  .page-header .page-navigation {
    clip-path: none;
    background: 0;
    width: initial;
    height: initial;
    position: static;
    padding: 0;
    clip-path: none;
  }
  .page-header .page-navigation .page-logo-alt {
    display: none;
  }
  .page-header .page-navigation ul {
    height: initial;
    flex-flow: row nowrap;
    justify-content: flex-end;
  }
  .page-header .page-navigation ul li {
    min-width: initial;
    margin: 0;
  }
  .page-header .page-navigation ul li a {
    font-weight: 300;
    font-size: 1rem;
    opacity: 0.75;
    transition: opacity ease 0.2s;
  }
  .page-header .page-navigation ul li a:hover {
    transform: none;
    opacity: 1;
  }

  .mobile-app {
    display: flex;
    flex-wrap: wrap;
  }
  .mobile-app div {
    flex-basis: 60%;
  }
  .mobile-app figure {
    flex-basis: 40%;
    justify-content: flex-end;
  }
  .mobile-app figure img {
    width: 120px;
  }
  .mobile-app figure .payments {
    transform: translateY(-20px);
  }
  .mobile-app ul {
    flex-basis: 100%;
    margin-top: 10px;
    flex-wrap: nowrap;
  }
  .mobile-app ul li {
    padding: 15px 0 0 0;
    border: 0;
    border-top: solid 2px rgba(255, 255, 255, 0.4);
    text-align: initial;
  }
  .mobile-app ul li.active {
    border-top: solid 2px #ffffff;
  }

  .news-slider div {
    width: 500px;
  }

  .page-footer {
    justify-content: space-between;
    align-items: flex-start;
  }
  .page-footer figure {
    flex-basis: 70%;
    text-align: left;
  }
  .page-footer a {
    align-self: flex-end;
  }
  .page-footer div {
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-bottom: 0;
  }
}
@media (min-width: 1319px) {
  body, html {
    font-size: 18px;
  }

  main article, main section {
    line-height: 30px;
  }

  h3 {
    font-size: 3rem;
  }

  .page-header {
    padding: 50px 215px 0;
    background-image: url(../img/DIGITAL1.png);
    background-size: contain;
  }
  .page-header h2 {
    font-size: 5rem;
  }

  .about-us {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 50px 0 0 0;
  }
  .about-us h3 {
    flex-basis: 20%;
  }
  .about-us p {
    flex-basis: 50%;
  }
  .about-us .dc-art {
    width: 100%;
    flex-wrap: nowrap;
    margin: 75px 0 0;
  }
  .about-us .dc-art img {
    border: 0;
    border-radius: 0;
    margin: 0;
    width: 100%;
  }

  .our-offert {
    padding: 85px 20px 50px;
  }
  .our-offert .offert {
    margin: 20px 0;
    width: 100%;
  }
  .our-offert .offert li {
    width: 350px;
    height: 350px;
    margin-left: 20px;
  }
  .our-offert h3 {
    text-align: center;
  }

  .mobile-app {
    padding: 50px 170px 30px;
    justify-content: space-between;
  }
  .mobile-app ul {
    margin: 40px 0 0 0;
  }
  .mobile-app div {
    flex-basis: 50%;
  }
  .mobile-app div h3 {
    font-size: 3rem;
  }
  .mobile-app figure img {
    width: initial;
  }
  .mobile-app figure img:first-child {
    margin: 0 25px 0 0;
  }
  .mobile-app div h3 {
    margin-bottom: 40px;
  }

  .news-slider {
    padding: 40px;
  }
  .news-slider div {
    width: 700px;
    padding: 40px 20px;
  }

  .page-footer {
    padding: 50px 170px 10px;
  }
}

/*# sourceMappingURL=style.css.map */
